body{
    width:100%
}
.header{
    background-image: url(assets_anita/backgrounds/landing.jpg);
    width:100% vw;
   height:600px;
    background-repeat: no-repeat;
}
img{
    position: absolute;
    right:45%;
  bottom  :55%;
}