body{
    width:100%
}
.header{
    background-image: url(assets_anita/backgrounds/landing.jpg);
    width:100% vw;
   height:600px;
    background-repeat: no-repeat;
}
.header img{
    position: absolute;
    right:45%;
  bottom  :55%;
}
.header p{
    position: absolute;
    right:40%;
    bottom:35%;
    font-size: 40px;
    color: white;

}
.items{
    display:flex;

}
.bars{
    display: block;
   
    
    
}
.happyhour{
    background-color:#e4e5e7 ;
    width:350px;
    height:110px;
   text-align: center;
    font-size: 30px;
    position: absolute;bottom: 67px;
    
    
   
}
.partytime{
    background-color: #f15b29;
    width:350px;
    height:105px;
    position: relative;top: 75px;
    text-align: center;
    font-size: 30px;
    text-decoration: white;

}
.bfast{
    position: relative;
    
}
.txtb{
   position: absolute;right: 180px;
   top:100px;
   font-size: 30px;
  }
  
.lun{
    text-align: center;
    font-size: 30px;
}
.txtl{
    position: absolute;right: 500px;
    bottom:100px;
    font-size: 30px;
    text-align: center;
   }
.din{
    text-align: center;
    font-size: 30px;
}
.txtd{
    position: absolute;right: 180px;
    bottom:100px;
    font-size: 30px;
   }
   .fastfood{
       margin-top: 20px;
       display: flex;
       margin-left: 200px;
   }
   .img{
       border:5px groove white;
      display: grid;
      padding: 10px;
   }
    