body{
    width:100%
}
.header{
    background-image: url(assets_anita/backgrounds/landing.jpg);
    width:100% vw;
   height:600px;
    background-repeat: no-repeat;
}
.header img{
    position: absolute;
    right:45%;
  bottom  :55%;
}
.header p{
    position: absolute;
    right:40%;
    bottom:35%;
    font-size: 40px;
    color: white;

}
.menu {
    position: relative;right:-100px;
    padding-top: 50px;
  
  }
  .line1{
    width: 50px;
    height: 2px;
    background-color:white;
    margin-bottom: 10px;
  }
  
  .line2{
    margin-bottom: 10px;
    width: 50px;
    height: 2px;
    background-color:white;
    
}
.line3{
    width: 50px;
    height: 2px;
    background-color:white;
    margin-top: 10pxs;
}
.items{
    display:flex;

}
.bars{
    display: block;
   
    
    
}
.happyhour{
    background-color:#e4e5e7 ;
    width:350px;
    height:110px;
   text-align: center;
    font-size: 30px;
    position: absolute;bottom: 67px;
    
    
   
}
.partytime{
    background-color: #f15b29;
    width:350px;
    height:105px;
    position: relative;top: 75px;
    text-align: center;
    font-size: 30px;
    text-decoration: white;

}
.bfast{
    position: relative;
    
}
.txtb{
   position: absolute;right: 180px;
   top:100px;
   font-size: 30px;
  }
  
.lun{
    text-align: center;
    font-size: 30px;
}
.txtl{
    position: absolute;right: 610px;
    bottom:50px;
    font-size: 30px;
    text-align: center;
   }
.din{
    text-align: center;
    font-size: 30px;
}
.txtd{
    position: absolute;right: 250px;
    bottom:50px;
    font-size: 30px;
   }
   .fastfood{
       margin-top: 20px;
       display: flex;
       margin-left: 200px;
   }
   .img{
    box-shadow:0px 0px 4px 3px grey;
      display: grid;
      padding: 10px;
   }
    .tff{
        margin-left: 50px;
    }
    .tff p{
        color:black;
        font-weight: 800;
    }
    .view{
        font-size: 20px;
        width: 150px;
        border: 2px solid #F15A29;
        text-align:center;
    }
    .view p{
        color:#F15A29;
    }
    .drinks{
        margin-top: 20px;
        display: flex;
        margin-left: 200px;
       
    }
    
    .img1{
        display: flex;
        box-shadow:0px 0px 4px 3px grey;
        padding: 10px;
        margin-left:80px;
    }
    .td p{
        color:black;
        font-weight: 800;
    }
    .sec5{
        margin-top: 20px;
        background-image: url(assets_anita/backgrounds/foodsBg.jpg);
        height: 600px;
      }
      .sec4{
          position:absolute; left:300px;bottom: -1380px;
          background-color: white;
      }
    li{
        display: inline;
        font-size: 20px;
        padding-left: 20px;
       
        }
    #li1{
     background-color: grey;
     width: 30px;
     height:5px;
     padding-right: 180px;
     float: center;
    } 
    .images{
        display: flex;
         }
    table{
        width: 80%;
        box-shadow:0px 0px 4px 3px grey;
        margin-top: 20px;
        margin-left: 200px;
        font-weight: 800;
        
    }
    td{
        padding: 40px;
    }
    .Happimg{
        display: flex;
    }
    .sec7{
        background-image: url(assets_anita/backgrounds/subscribe.jpg);
        height: 300px;
    }
    .sec7>p{
        text-align: center;
        font-size: 20px;
        color: white;
        padding-top: 40px;
    }
    .ems{
        display: flex;
        justify-content: space-evenly;
        padding-top: -10px;
    }
    .em{
        background-color: grey;
        border-radius: 5px;
        width:500px;
        text-align: center;

    }
    .sub{
        background-color:#F15A29 ;
        border-radius: 5px;
        width: 250px;
        text-align: center;
        margin-left: -350px;
        
    }
    .footer{
        display: grid;
        
        background-color:#F15A29 ;
        height: 300px;
        align-items: center;
    }
    .imgft{
      position: relative;right:-700px; top: 20px;
      display: flex;

    }
    .imgft1{
        display: flex;
        align-items: center;
        position: relative;right:-700px; bottom: -10px;

    }